.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 3%;
    top: 20%;
    gap: 10px;
}

#ex_user_profile {
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.profile_nickname {
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.profile_nickname:hover {
    color: rgba(0, 0, 0, 0.3);
}