.profile {
    position: absolute;
    right: 1%;
    top: 20%;
}

.workspace_button {
    position: absolute;
    left: -60%;
    top: 6%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0;
    color: white;
    transition: background-color 0.3s ease;
}

.workspace_button.horror {
    background-color: #b22222;
}

.workspace_button.horror:hover {
    background-color: #8f1b1b;
}

.workspace_button.adventure {
    background-color: #e5ae4e;
}

.workspace_button.adventure:hover {
    background-color: #c89844;
}

.workspace_button.crime {
    background-color: #656565;
}

.workspace_button.crime:hover {
    background-color: #595959;
}

.profile_outside {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 8px;
}

#ex_user_profile {
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.profile_setup {
    position: relative;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 999;
}

.profile_setup.show {
    opacity: 1;
    pointer-events: auto;
}

.profile_setup.hide {
    opacity: 0;
    pointer-events: none;
}

.profile_setup_inside {
    position: relative;
    z-index: 999;
}

.logout_mypage {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.logout_mypage p {
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout_mypage p:hover {
    background-color: #ddd;
}