.object_edit .fontFamily.selected,
.editOpt_textAlign.selected {
    background-color: rgba(255, 255, 255, 0.2);
}

.object_edit .fontFamily,
.editOpt_textAlign {
    border-radius: 6px;
    padding: 0 5px;
    margin: 0 1px;
}
.object_edit .fontFamily i {
    font-family: 'Times New Roman', Times, serif;
}
.object_edit .fontFamily input {
    display: none;
}

.editOpt_textAlign input[type="radio"] {
    display: none;
}

.object_edit .add_event {
    width: 100%;
    margin-top: 10px;
    padding: 20px 15px;
    text-align: center;
    border: 2px dashed #ddd;
    border-radius: 13px;
    background-color: rgba(255, 255, 255, 0.16);
    color: white;
    font-size: medium;
}
.object_edit .add_event:hover {
    background-color: rgba(255, 255, 255, 0.11);
}
.object_edit .add_event.not {
    margin-top: 5px;
    padding: 9px 15px;
}

.object_edit .event-item {
    margin-bottom: 15px;
}
.object_edit .event-item input[type="number"] {
    width: 55px;
}