.room_area {
    height: 15%;
    border-top: 0.1rem solid rgb(68, 68, 68);
    padding-bottom: 4px;
}

.room_window{
    /* 부모가 스크롤 컨테이너 역할을 하도록 */
    overflow-x: auto;
    overflow-y: hidden;

    /* 너비와 높이 명확히 지정 */
    width: 100%;
}

.room_window::-webkit-scrollbar {
    height: 6px;
}

.room_window::-webkit-scrollbar-track {
    margin: 10px;
}

.room_window::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.room_window::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.room_area_scroll {
    display: flex;
    padding: 5px 10px;
    gap: 20px;
    /* 자식 요소들이 제 영역 확보 */
    flex-wrap: nowrap; /* 한 줄로 유지 */

    /* 부모가 스크롤 처리하므로 overflow는 제거 */
    overflow: visible;

    height: 100%;
    width: max-content; /* 자식 요소만큼 너비 늘리기 */
}

.room_area .room {
    min-width: 150px;
    height: 100px;
    border-radius: 5px;
    background-color: rgb(43, 43, 43);
    display: flex;
    margin-top: 5px;
}

.room_area_scroll > button {
    min-width: 150px;
    height: 100px;
    margin-top: 5px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(43, 43, 43);
    color: white;
    font-size: 40px;
}

.stage_wrap {
    min-width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
}

.stageIndex_delete {
    display: flex;
    padding: 3px 10px;
}

.stageIndex_delete > h3 {
    cursor: move;
    color: white;
}

.stageIndex_delete > button {
    height: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: auto;
    padding: 0 5px;
    border-radius: 5px;
    border: 0;
    background-color: rgba(128, 128, 128, 0.2);
    color: rgba(128, 128, 128, 0.3);
    opacity: 0.7;
}

.room_area_scroll > button:hover,
.stageIndex_delete > button:hover,
.side_area > button:hover {
    opacity: 1;
}

.stage_wrap > input[type="text"] {
    border: 0;
    padding: 5px;
    text-align: center;
    width: 90px;
    background-color: transparent;
    margin: 0 auto;
    color: white;
    border-radius: 10px;
    border: 0.1rem solid rgb(68, 68, 68);
}

.room_area .room input[type="text"]:focus {
    outline: none;
}

.room_area .room .side_area {
    background-color: #1d1d1d;
    margin: 5px;
    margin-left: 0;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0 10px;
    gap: 20px;
}

.side_area > button {
    height: 80%;
    width: 100px;
    border: 0;
    border-radius: 5px;
    font-size: 30px;
    background-color: rgb(43, 43, 43);
    color: white;
}

.side_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding-top: 5px;
    color: gray;
    cursor: pointer;
    gap: 2px;
}

.room_area .side {
    width: 90px;
    height: 55px;
    /* background-color: white; */
    position: relative;
    border-radius: 5px;
}

.side.selected {
    outline: 3px solid rgb(24, 201, 92);
}

.side.selected + .info h4 {
    color: rgb(24, 201, 92);
}

.side > button {
    position: absolute;
    top: 3px;
    right: 2px;
    padding: 0 6px;
    padding-bottom: 2px;
    padding-right: 7px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
    background-color: rgb(214, 214, 214);
    opacity: 0.3;
    cursor: pointer;
    display: none;
}

.side:hover > button {
    display: block;
}

.side > button:hover {
    opacity: 0.7;
}