.object_edit .fontFamily.selected,
.editOpt_textAlign.selected {
    background-color: rgba(255, 255, 255, 0.2);
}

.object_edit .fontFamily,
.editOpt_textAlign {
    border-radius: 6px;
    padding: 0 5px;
    margin: 0 1px;
}
.object_edit .fontFamily i {
    font-family: 'Times New Roman', Times, serif;
}
.object_edit .fontFamily input {
    display: none;
}

.editOpt_textAlign input[type="radio"] {
    display: none;
}