.MainPage_wrap {
    height: 100dvh;
    width: 100dvw;
    background-color: #363535;
}

#Main_background {
    height: 100dvh;
    width: 100dvw;
}

.MainPage_header {
    width: 100%;
    top: 5%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.notice {
    position: absolute;
    width: 400px;
    height: 150px;
    left: 3%;
    top: 20%;
    display: flex;
    z-index: 999;
    gap: 10px;
}

.notice_content {
    height: 100%;
    width: 100%;
    position: relative;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.notice_content.show {
    opacity: 1;
    pointer-events: auto;
}
  
.notice_content.hide {
    opacity: 0;
    pointer-events: none;
}

.notice_table {
    height: 100%;
    width: 90%;
    position: absolute;
    top: 0;
    right: 2%;
    padding: 0 5px;
    padding-top: 12px;
    overflow-y: auto;
}

.notice_table::-webkit-scrollbar, .notice_text::-webkit-scrollbar {
    width: 6px;
}

.notice_table::-webkit-scrollbar-thumb, .notice_text::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.notice_table::-webkit-scrollbar-thumb:hover, .notice_text::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
}

.notice_table::-webkit-scrollbar-track, .notice_text::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 12px 0;
}

.notice_table_text {
    width: 100%;
    height: 25%;
    border-radius: 5px;
    padding: 5px;
    background-color: #eee;
    margin-bottom: 12px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.notice_table_text:hover, .exit:hover {
    background-color: #ddd;
}

.notice_text {
    height: 100%;
    width: 90%;
    position: absolute;
    top: 0;
    right: 2%;
    overflow-y: auto;
    padding: 10px 5px;
}

.title {
    border-radius: 5px;
    padding: 5px;
    background-color: #eee;
    display: inline-block;
    word-break: break-word;
    white-space: pre-wrap;
}

.text {
    margin: 20px 0;
    white-space: pre-wrap;
    word-break: break-word;
}

.exit_day {
    display: flex;
}

.exit, .day {
    border-radius: 5px;
    padding: 5px;
    background-color: #eee;
    display: inline-block;
    font-size: 14px;
}

.exit {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.day {
    margin-left: auto;
}

#notice_img {
    width: 46px;
    height: 50px;
    cursor: pointer;
}

#notice_img, #sign_in, #sign_up {
    transition: opacity 0.3s ease;
}

#notice_img:hover, #sign_in:hover, #sign_up:hover {
    opacity: 0.5;
}

.theme {
    width: 100%;
    position: absolute;
    top: 25%;
    display: flex;
    gap: 8vw;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 0 2vw;
}

.theme article {
    width: calc((100% - 4vw) / 3);
    max-width: 450px;
    aspect-ratio: 3/4;
    border-radius: 20px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateY(50px);
    cursor: pointer;
    transition: opacity 0.8s ease, transform 0.8s ease;
    pointer-events: none;
    padding: 10px;
}

.theme article.show {
    pointer-events: auto;
    opacity: 0.6;
    transform: translateY(0);
}

.theme article:hover {
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-20px);
}

.theme article.article-clicked {
    transform: scale(0.93) translateY(-20px);
}

.theme article.article-clicked-back {
    transform: scale(1) translateY(-20px);
}

#horror {
    background-color: #b22222;
}

#horror:hover {
    box-shadow: 0 0 20px #b22222;
}

#adventure {
    background-color: #e4c590;
}

#adventure:hover {
    box-shadow: 0 0 20px #e4c590;
}

#crime {
    background-color: #4f4f4f;
}

#crime:hover {
    box-shadow: 0 0 20px #4f4f4f;
}

#horror_outline, #adventure_outline, #crime_outline {
    margin: 7px;
    width: 96%;
    height: 98%;
}

.horror_icon, .adventure_icon, .crime_icon {
    position: absolute;
    text-align: center;
}

.horror_icon p, .adventure_icon p, .crime_icon p {
    margin-top: 10%;
    color: #fff;
    font-family: 'Warhaven', sans-serif;
    display: none;
    font-size: 3vw;
}

.theme_icon {
    width: 10vw;
    transition: transform 0.5s ease;
}
  
.theme article:hover .horror_icon p,
.theme article:hover .adventure_icon p,
.theme article:hover .crime_icon p {
    display: block;
}

.theme article:hover .theme_icon {
    transform: translateY(-10px);
}

@media (max-width: 1350px) {
    .theme {
        top: 30%;
    }
}

@media (max-width: 1100px) {
    .theme {
        top: 35%;
    }
}

@media (max-width: 700px) {
    .MainPage_header {
        top: 10%;
    }

    .notice {
        top: -50%;
    }

    .MainPage_header .Sign {
        top: -50%;
    }

    .MainPage_header .profile {
        top: -50%;
    }

    .theme {
        top: 30%;
        flex-wrap: wrap;
    }

    .theme article {
        border-radius: 10px !important;
    }

    .theme_icon {
        width: 15vw !important;
    }

    .horror_icon p, .adventure_icon p, .crime_icon p {
        font-size: 4vw !important;
    }
}

@media (max-width: 550px) {
    .MainPage_header {
        top: 15%;
    }

    .notice {
        top: -100%;
    }

    .MainPage_header .Sign {
        top: -100%;
    }

    .MainPage_header .profile {
        top: -100%;
    }

    .theme {
        top: 35%;
    }
}

@font-face {
    font-family: 'Warhaven';
    src: url('../assets/fonts/Warhaven/NEXON_Warhaven_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}