.MainPage_wrap {
    height: 100dvh;
    width: 100dvw;
    background-color: #363535;
}

#Main_background {
    height: 100dvh;
    width: 100dvw;
}

header {
    width: 100%;
    top: 5%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.notice {
    position: absolute;
    width: 400px;
    height: 200px;
    left: 3%;
    top: 20%;
    cursor: pointer;
    display: flex;
    z-index: 999;
    gap: 10px;
}

.notice_content {
    height: 100%;
    width: 100%;
}

#notice_img {
    width: 46px;
    height: 50px;
}

#notice_img, #sign_in, #sign_up {
    transition: opacity 0.3s ease;
}

#notice_img:hover, #sign_in:hover, #sign_up:hover {
    opacity: 0.5;
}

.theme {
    width: 100%;
    position: absolute;
    top: 25%;
    display: flex;
    gap: 150px;
    justify-content: center;
}

.theme article {
    width: 23%;
    aspect-ratio: 3/4;
    border-radius: 20px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateY(50px);
    cursor: pointer;
    transition: opacity 0.8s ease, transform 0.8s ease;
    pointer-events: none;
    padding: 10px;
}

.theme article.show {
    pointer-events: auto;
    opacity: 0.6;
    transform: translateY(0);
}

.theme article:hover {
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-20px);
}

#horror {
    background-color: #b22222;
}

#horror:hover {
    box-shadow: 0 0 20px #b22222;
}

#adventure {
    background-color: #e4c590;
}

#adventure:hover {
    box-shadow: 0 0 20px #e4c590;
}

#crime {
    background-color: #4f4f4f;
}

#crime:hover {
    box-shadow: 0 0 20px #4f4f4f;
}

#horror_outline, #adventure_outline, #crime_outline {
    margin: 7px;
    width: 96%;
    height: 98%;
}

.horror_icon, .adventure_icon, .crime_icon {
    position: absolute;
    text-align: center;
}

.horror_icon p, .adventure_icon p, .crime_icon p {
    margin-top: 10%;
    color: #fff;
    font-size: 50px;
    font-family: 'Warhaven', sans-serif;
    display: none;
}

.theme_icon {
    transition: transform 0.5s ease;
}
  
.theme article:hover .horror_icon p,
.theme article:hover .adventure_icon p,
.theme article:hover .crime_icon p {
    display: block;
}

.theme article:hover .theme_icon {
    transform: translateY(-10px);
}

@font-face {
    font-family: 'Warhaven';
    src: url('../assets/fonts/Warhaven/NEXON_Warhaven_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}