.section {
    display: block !important;
}

.fp-watermark {
    display: none !important;
}

#theme_background {
    width: 100dvw;
    height: 100dvh;
}

.section.footer_section {
    height: auto !important;
}

.theme_header {
    justify-content: space-between;
    padding-left: 3%;
    width: 100%;
    top: 5%;
    position: absolute;
    display: flex;
}