/* Ranking.css */

.ranking_container {
  max-width: 400px;
  margin: 0px 15px;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
}

.ranking_container p{ height : 10.5%;}

/* .ranking_container.horror{  background: linear-gradient(to bottom, #323232cc, #1a1a1acc);}

.ranking_container.adventure{  background: linear-gradient(to bottom, #ffcc85cc, #d4a257cc);}

.ranking_container.crime{  background: linear-gradient(to bottom, #000516cc, #1c1c3acc);} */


.ranking_container div#ranker_1_10 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 48px); /* 각 행의 높이를 45px로 고정 */
  width : 320px;
  gap: 3% 1%;
  
}

.grid-container.shrunk {
  grid-template-rows: 0px 0px 0px 0px 0px 48px;
  transition: grid-template-rows 3s ease-in-out;
}

/* .ranker_grid.shrunk li {
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  overflow: hidden;
}*/

.ranker_grid.shrunk .Crown,
.ranker_grid.shrunk .Crown_small,
.ranker_grid.shrunk .rank_profile {
display: none !important;  }


.ranking_container ul#ranker_1_100 {
  width: 320px;
  height: 330px;
  background-color: #000;
  overflow-y: auto;
  padding: 0% 1%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  overflow: visible;  /* <<< 바꿔야 함 */

  position: relative;
}

#ranker_1_100 .table_header>* {   border-right: 1px solid white;display: flex; align-items: center; justify-content: center;}

#ranker_1_100 .table_header>*:nth-child(3) {   border-right: none;}

.ranking_container li {
  display: grid;
  font-size: 0.80rem;
  color : white;
  background-color: #0e1e2b;
}

.ranking_container #ranker_1_10 li {
  grid-template-columns: 1fr 4fr 1fr;
  border-radius: 10px;
  padding: 10px 5%;
}

.ranking_container #ranker_1_100>li,
.ranking_container .rank-scroll li{
  margin-bottom: 1%;
}

.ranking_container #ranker_1_100>.table_header,
.ranking_container #ranker_1_100>.li1,
.ranking_container #ranker_1_100>.li2,
.ranking_container #ranker_1_100>.li3,
.ranking_container #ranker_1_100>.rank-scroll>ul>li{
  padding : 5px 0px;
}

.ranking_container #ranker_1_100>li,
.ranking_container #ranker_1_100>.rank-scroll>ul>li{
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  height: 40px;
  border-radius: 5px;

}

.ranking_container #ranker_1_100 .rank_header,
.ranking_container #ranker_1_100 .rank_score{
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
}


.ranking_container #ranker_1_100 .rank_profile{
  display: flex;
  margin-left: 10px;
  justify-content: flex-start;
}

/* 기본 li 배경 (4등부터) */
.ranking_container.horror .fillColor {
  background: linear-gradient(45deg, #0e1e2b, #1c2f3f);
  /* transition: background 0.3s, transform 0.3s; */
}

.ranking_container.adventure .fillColor {
  background: linear-gradient(45deg, #2e2209, #5c4716);
  /* transition: background 0.3s, transform 0.3s; */
}

.ranking_container.crime .fillColor {
  background: linear-gradient(45deg, #150e2b, #2a1e4f);
  /* transition: background 0.3s, transform 0.3s; */
}

/* 1~3등 li: 더 강한 그라데이션 */
.ranking_container.horror li.li1,
.ranking_container.horror li.li2,
.ranking_container.horror li.li3 {
  background: linear-gradient(45deg, #1a2d40, #284a66);
}

.ranking_container.adventure li.li1,
.ranking_container.adventure li.li2,
.ranking_container.adventure li.li3 {
  background: linear-gradient(45deg, #4b370d, #7d5a16);
}

.ranking_container.crime li.li1,
.ranking_container.crime li.li2,
.ranking_container.crime li.li3 {
  background: linear-gradient(45deg, #261544, #3f2470);
}

/* li hover하면 살짝 밝아지고 약간 확대 */
.ranking_container .fillColor:hover {
  background: linear-gradient(45deg, #3c3c3c, #5a5a5a);
  transform: scale(1.02);
  cursor: pointer;
}

.ranking_container li.table_header:hover{  transform: scale(1.00);}

.ranking_container.horror li.table_header:hover{  background: linear-gradient(45deg, #0e1e2b, #1c2f3f);}
.ranking_container.adventure li.table_header:hover{  background: linear-gradient(45deg, #2e2209, #5c4716);}
.ranking_container.crime li.table_header:hover{  background: linear-gradient(45deg, #150e2b, #2a1e4f);}

/* 1~3등 hover할 때는 별도 스타일 유지 */
.ranking_container.horror li.li1:hover,
.ranking_container.horror li.li2:hover,
.ranking_container.horror li.li3:hover {
  background: linear-gradient(45deg, #1d3a53, #2e5b81);
}

.ranking_container.adventure li.li1:hover,
.ranking_container.adventure li.li2:hover,
.ranking_container.adventure li.li3:hover {
  background: linear-gradient(45deg, #5b410f, #996f19);
}

.ranking_container.crime li.li1:hover,
.ranking_container.crime li.li2:hover,
.ranking_container.crime li.li3:hover {
  background: linear-gradient(45deg, #341d5a, #553489);
}


/* 왼쪽 위 두 칸 [세로가 긴 직사각형] */
.ranking_container #ranker_1_10 .li1 {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 34px 0;
  display: flex;
  flex-direction: column; /* 위→아래로 정렬 */
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#ranker_1_10 .li1 .rank_profile {   justify-content: center;}


#ranker_1_10 .Crown {
  width: 40px;
  height: auto;
  object-fit: contain;
  position: absolute;
  top: 0;
}

#ranker_1_10 .Crown_small {
  width: 20px;

}

.rank_header,
.rank_index,
.rank_score,
.rank_profile{
  display: flex;
  align-items: center;
}

.rank_header{   justify-content: center;}

.rank_index{   justify-content: flex-end;}

.rank_score{
  width: 100%;
  justify-content: flex-end;
}

.ranking_container #ranker_1_10 .li1 .rank_score{
  position: absolute;
  justify-content: center;
  bottom: 25%;
}

#ranker_1_10 .Raurel {
  width: 60%;
  height: auto;
  object-fit: contain;
  position: absolute;
  bottom: 0px;
}

/* 오른쪽 위 각각 한 칸씩 */
.ranking_container #ranker_1_10 .li2 {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.ranking_container #ranker_1_10 .li3 {
  grid-column: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.ranking_container #ranker_1_10 .toggle_trophy {
  grid-column: 2 / span 1;
  grid-row-start : 6;
  grid-row-end : 7;
  width: 100%;
  height: 100%; 
  padding: 0 0;
  position: relative;
}

.ranking_container #ranker_1_10 .toggle_trophy > div {
  display: grid;
  place-items: center;
  grid-column: 1 / -1;
  width: 100%;
  height : 100%;

}

.ranking_container #ranker_1_10 .toggle_trophy>img{
  /* grid-column: 2; */
  /* height : 100%; */

  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.rank_profile {
  position: relative;
  width: 30px;  /* 원형 이미지의 크기를 지정 */
  height: 30px; /* 원형 이미지의 크기를 지정 */
  justify-content: flex-start;
  gap: 15%;
}

.rank_profile img{
  object-fit: contain;
  border-radius: 50%; /* 원형으로 만들기*/
  width: 70%; /* 원하는 너비 */
  height: 70%; /* 원하는 높이 */
}


/* 스크롤 가능한 4~100위 */
.rank-scroll {
  overflow-y: auto;  /* 세로 스크롤을 활성화 */
  min-height: 120px;
  max-height: 500px; /* 적당히 잡아야 함 */
  -webkit-overflow-scrolling: touch; /* 터치스크롤을 부드럽게 */
  scrollbar-gutter: stable; /* 스크롤 생겨도 레이아웃 흔들리지 않게! */
  display: flex; /* <<< grid 말고 flex */
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  margin-bottom: 1%;
  width: 100%; /* <<< 부모에 맞추게 강제 */
}


/* 스크롤 바를 숨기기 위한 설정 */
.rank-scroll::-webkit-scrollbar {
  width: 0px; /* 스크롤 바 자체를 숨깁니다 */
  height: 0px;
}

/* Fix top 3 rankings */
.rank_sticky{
  position: sticky;
  top: 0;
  z-index: 2;
}

#ranker_1_100 .li1, #ranker_1_100 .li2, #ranker_1_100 .li3 {
  background-color: #0e1e2b; /* 배경색 설정 */
  grid-template-columns: 1fr 6fr 1fr;
  padding: 10px;
}

/* 트로피 버튼 고정 */
#ranker_1_100 .toggle_trophy {
  position: sticky;
  bottom: 0;
  background-color: #0e1e2b;
  z-index: 1;
  text-align: center;
  height: 40px;
}

#ranker_1_100 .toggle_trophy>div{
  grid-column : 1 / -1;
  height: 40px;
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative; 
}

#ranker_1_100 .toggle_trophy img,.ranking_container #ranker_1_10 .toggle_trophy img {
  width: 42px;
  /* max-height: 100%;
  max-width: 100%; */
}

#ranker_1_100 .toggle_trophy img {
  
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .rank {
  width: 30px;
  font-weight: bold;
}

.name {
  flex-grow: 1;
  text-align: left;
}

.score {
  color: #3366cc;
  font-weight: bold;
} */
