.GameInfo_wrap {
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.824);
}

#GameInfo_background {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
}

.GameInfo_door {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.GameInfo_room {
    height: 10%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GameInfo_room p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease;
}

.GameInfo_content {
    height: 90%;
    background-color: black;
}