.Sign_in {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgb(0, 0, 0);
    z-index: 999;
}

/* Sign_up 컴포넌트 공통 css */
#Sign_background {
    width: 100dvw;
    height: 100dvh;
}
/* ------------------------- */

.Sign_content {
    position: absolute;
    top: 50%;
    left: 50%;
    aspect-ratio: 2 / 2.3;
    width: 350px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: #2727275a;
}

/* Sign_up 컴포넌트 공통 css */
#X {
    position: absolute;
    width: 15px;
    right: 3%;
    top: 3%;
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0.2;
}

#X:hover {
    opacity: 0.5;
}
/* ------------------------- */

.Sign_in .Sign_content .header_logo {
    display: flex;
    justify-content: center;
    margin: 30px 10px;
    pointer-events: none;
}

.login {
    padding: 30px;
    margin: 20px 40px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.kakao_sherlock {
    height: 100%;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.kakao_login, .naver_login, .google_login, .sherlock_login {
    width: 212px;
    height: 40px;
    border-radius: 3px;
    padding: 10px;
}

.kakao_login, .naver_login, .google_login {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 20px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.kakao_login {
    background-color: #ffea62;
}

.naver_login {
    background-color: #00c559;
    color: white;
}

.google_login {
    background-color: white;
}

#kakao, #naver, #google {
    width: 30px;
    height: 30px;
}

.sherlock_login {
    background-color: rgb(174, 174, 174);
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.sherlock_login p {
    text-align: center;
    font-weight: bold;
}

.sherlock_login:hover, .kakao_login:hover,
.naver_login:hover, .google_login:hover,
.kakao_login2:hover, .naver_login2:hover, 
.google_login2:hover {
    opacity: 0.5;
}

.sherlock {
    height: 100%;
}

.sherlock form {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.sherlock .id input, .sherlock .password input {
    width: 212px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 15px;
} 

.sherlock .id, .sherlock .password{
    display: flex;
    flex-direction: column;
}

.sherlock input::placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: 15px;
}

/* Sign_up 컴포넌트 공통 css */
.error_text, .warning_text {
    color: #bbb;
    font-size: 0.8rem;
    margin-top: 4px;
    width: 212px;
}
/* ------------------------- */

.sherlock .button button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 5px;
    transition: opacity 0.3s ease;
}

.sherlock .button button:hover {
    opacity: 0.5;
}

.social_hidden {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    gap: 10%;
}

.kakao_login2, .naver_login2, .google_login2 {
    transition: opacity 0.3s ease;
}

.kakao_login2 #kakao, 
.naver_login2 #naver,
.google_login2 #google {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.Sign_up_img {
    display: flex;
    justify-content: center;
    height: 15%;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

#Sign_up {
    width: 50px;
    height: 60px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

#Sign_up:hover {
    opacity: 0.5;
}