.footer {
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    align-items: center;
    gap: 28.5%;
}

#footer_logo {
    opacity: 0.3;
    margin-left: 2%;
}

.footer_content {
    color: #fff;
    opacity: 0.3;
    font-size: 20px;
    line-height: 1.8;
}